@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Calc HomePage";
}

<h1>Kalkulátor v0.0.1</h1>

<form method="get">
    <label asp-for="Data.A"></label>
    <input asp-for="Data.A" />

    <label asp-for="Data.Op"></label>
    <select asp-for="Data.Op" asp-items="Html.GetEnumSelectList<Operation>()"></select>

    <label asp-for="Data.B"></label>
    <input asp-for="Data.B" />

    <input type="submit" value="Počítej!" />
</form>

<div>
    <ul>
        <li><a asp-page="./Index" asp-page-handler="Forced" asp-route-a="666" asp-route-b="333">a=666 b=333</a></li>
        <li><a asp-page-handler="Forced" asp-route-a="999" asp-route-b="333">a=999 b=333</a></li>
        <li><a asp-page-handler="Forced" asp-route-a="111" asp-route-b="333">a=111 b=333</a></li>
    </ul>
</div>